@using BetFlowSystems.Models.DTOs.Account
@using BetFlowSystems.Models

@model DisplayAccountDto

@{
    ViewData["Title"] = "Edit Account";
}

<div class="container page-container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card mt-4 mb-5">
                <div class="card-header d-flex justify-content-between align-items-center bg-success text-white">
                    <h3 class="mb-0">Edit Account</h3>
                    <span class="badge bg-light text-dark">New</span>
                </div>

                <div class="card-body">
                    <form asp-action="Edit">

                        <input type="hidden" asp-for="AccountID" />
                        <input type="hidden" asp-for="UserID" />
                        <input type="hidden" asp-for="Balance" />
                        <input type="hidden" asp-for="CreatedDate" />


                        <div class="row g-3">

                            <div class="col-md-6">
                                <label asp-for="AccountID" class="form-label">Account ID</label>
                                <input class="form-control" value="@Model.AccountID" readonly />
                            </div>

                            <div class="col-md-6">
                                <label asp-for="UserID" class="form-label">User ID</label>
                                <input class="form-control" value="@Model.UserID" readonly />

                            </div>

                            <div class="col-md-6">
                                <label asp-for="Balance" class="form-label">Balance</label>
                                <input class="form-control" value="@Model.Balance" readonly />
                            </div>

                            <div class="col-md-6">
                                <label asp-for="AccountStatus" class="form-label">Account Status</label>
                                <select asp-for="AccountStatus" class="form-control" asp-items="Html.GetEnumSelectList<AccState>()">
                                    <option value="">-- Select Status --</option>
                                </select>
                                <span asp-validation-for="AccountStatus" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Title" class="form-label">Title</label>
                                <input asp-for="Title" class="form-control" maxlength="50" placeholder="Enter account title" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="CreatedDate" class="form-label">Created Date</label>
                                <input class="form-control" value="@Model.CreatedDate.ToShortDateString()" readonly />
                            </div>


                            <div class="col-12">
                                <label asp-for="Description" class="form-label">Description</label>
                                <textarea asp-for="Description" class="form-control" rows="1" maxlength="200" placeholder="Optional account description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <div class="d-flex justify-content-between">
                            @{
                                var redirect = @Context.Request.Query["redirect"].ToString().ToLower();

                                if (redirect == "useraccounts")
                                {

                                    <a asp-action="UserAccounts" asp-route-id=@Model.UserID class="btn btn-secondary">Cancel</a>
                                    <input type="hidden" name="redirect" value="@redirect" />

                                }
                                else
                                {
                                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

                                }
                            }


                            <button type="submit" class="btn btn-primary">
                                Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
